<div class="container">
  <h1>Tweet Now! 2: Multi-User</h1>

  <% if session[:current_user_id].nil? %>
  <a href="/sign_in">Sign In with Twitter</a>
  <% else %>
  <p><strong>Tweeting as: </strong> <%= User.find(session[:current_user_id]).username  %></p>
  <form action="/" method="POST" id="tweet_form">
    <textarea rows="6" cols="50" name="tweet_text" class="tweet_form_elements" id="tweet-box"></textarea><br>
    Delay in minutes: <input type="text" value="0" id= "tweet_delay_box" name="tweet_delay" class="tweet_form_elements">
    <input type="submit" value="Tweet Now!" class="tweet_form_elements">
  </form>
  <br>
  <p>
    <a href="/sign_out">Sign Out</a>
  </p>
  <% end %>
</div>
